<div class="container">
  <nav id="navigation" role="navigation">
    <span class="mobile-nav" aria-hidden="true">
      Show nav
      <span></span>
      <span class="close-button"></span>
      <span class="close-button"></span>
      <span></span>
    </span>

    <div class="wrapper-full">
      <div id="logo">
        <a href="/home">Heroku</a>
      </div>
      <div class="nav-wrapper">
        <ul class="main-nav">
          <li class="has-dropdown">
            <a href="/products">Products</a>
            <ul class="dropdown">
              <!-- Include submenu items here -->
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="https://elements.heroku.com">Marketplace</a>
            <ul class="dropdown">
              <!-- Include submenu items here -->
            </ul>
          </li>
          <li><a id="pricing-head" href="/pricing">Pricing</a></li>
          <li><a id="doc-head" href="https://devcenter.heroku.com">Documentation</a></li>
          <li><a href="/support">Support</a></li>
          <li class="has-dropdown">
            <a class="nav-more" href="#">More</a>
            <div class="dropdown more">
              <!-- Include submenu items here -->
            </div>
          </li>
        </ul>

        <ul class="tool-nav">
          <li role="search">
            <form action="/search" class="site-search" id="site-search" method="get">
              <div class="search-input gsc-input">
                <label for="search" class="visuallyhidden">Search: </label>
                <input type="text" spellcheck="false" autocomplete="off" name="q" title="search" />
                <button type="submit" value="Submit search" class="search-submit"></button>
              </div>
            </form>
          </li>

          <li class="user">
            <a href="https://id.heroku.com">Log in</a>
            <span>or</span>
            <a class="sign-up highlight" data-trackable="{&quot;category&quot;:&quot;Sign Up Links&quot;,&quot;action&quot;:&quot;Clicked&quot;,&quot;label&quot;:&quot;www-header&quot;}" href="https://signup.heroku.com">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
